body {
    background-color: #f97524;
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.75vw solid white;
    border-left: 0.75vw solid white;
    border-right: 0.75vw solid white;
    margin-top: auto;
}

h1 {
    color: white;

    font-family: serif;
    font-size: 2.25vw;
    text-align: center;

    display: block;
    margin: 0.25vw;
}

p {
    color: white;

    font-family: serif;
    font-size: 1.5vw;
    text-align: center;

    display: block;
    padding: 0%;
    border: 0%;
    margin: 0%;
    padding-bottom: 0.5vw;
}

img {
    display: block;
    width: 100%;
}

.container {
    display: flex;
    align-items: stretch;
    border-bottom: 0.75vw solid white;

}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.text-box {
    flex: 1;
    padding: 0%;
    margin: 0%;
    border-bottom: 0.75vw solid white;
}

.panorama {
    border-top: 0.75vw solid white; 
    border-bottom: 0.75vw solid white;
}

.tables {
    width: 40%;
    margin-left: auto;
    margin-right: 0%;

    border-left: 0.75vw solid white;
}

.single {
    width: 40%;
    margin-left: 0%;
    margin-right: auto;

    border-right: 0.75vw solid white;
}

@media screen and (orientation:portrait){
    body {
        width: 96vw;
        border-top: 2vw solid white;
        border-left: 2vw solid white;
        border-right: 2vw solid white;
    }
    
    h1 {
        font-size: 6vw
    }

    p {
        font-size: 4vw;
    }

    .container {
        border-bottom: 2vw solid white;
    }
    /* .column {
        border-bottom: 2vw solid white;
    } */

    .panorama {
        border-top: 2vw solid white;
        border-bottom: 2vw solid white;
    }

    .tables {
        display: none;
    }

    .single {
        display: none;
    }
}

/* Old CSS: 110 lines */