body {
    background-color: #f97524;
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border: 0.75vw solid white;
    margin-top: auto;
}

h1 {
    color: white;

    font-family: serif;
    font-size: 2.25vw;
    text-align: center;

    display: block;
    padding: 0;
    margin: 0;

}

p {
    color: white;

    font-family: serif;
    font-size: 1.5vw;
    text-align: center;

    display: block;
    /* margin: 0.2vw;
    margin-bottom: 0.4vw; */
}

img {
    display: block;
    width: 100%;
}

.box {
    border-top: 0.75vw solid white;
    border-bottom: 0.75vw solid white;
}

.container {
    display: flex;
    align-items: stretch;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.text-box {
    flex: 1;
    padding: 0%;
    margin: 0%;
    border-bottom: 0.75vw solid white;
}

.tables {
    width: 40%;
    margin-left: auto;
    margin-right: 0%;

    border-left: 0.75vw solid white;
    border-bottom: 0.75vw solid white;
}

.single {
    width: 40%;
    margin-left: 0%;
    margin-right: auto;

    border-right: 0.75vw solid white;
}

/* Old CSS: 110 lines */